body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
}

.main-logo {
  margin: 22px 27px;
}

.main-logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 27px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 35px;
  text-transform: uppercase;
}

.nav-list-link:hover {
  color: #14b9d5;
}

.header-search {
  cursor: pointer;
  background-color: #000000;
  width: 68px;
  height: 70px;
  border: 0px;
}

.header-content {
  background-image: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  padding-top: 165px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.header-content-buttons {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.header-button {
  width: 170px;
  height: 55px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

.header-button:first-child {
  background-color: #89ca62;
  margin-right: 20px;
}

.header-button:last-child {
  background: #14b9d5;
}

.posts-section {
  background: #f2f2f2;
}

.posts-title {
  padding: 50px 0;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}

.posts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 870px;
}

.post {
  margin-bottom: 30px;
  background-color: #ffffff;
  width: calc((100% / 3) - 30px);
}

.post-img {
  width: 100%;
}

.post-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  padding: 20px;
}

.clients {
    background-image: url(../img/clients-section-bg.jpeg);
    background-attachment: fixed;
}

.clients-content {
    display: grid;
    grid-template-columns: repeat (4, 300px);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item4 item5 item6";
    padding: 108px 0 108px;
    grid-row-gap: 87px;
}

.clients-title {
    font-weight: bold;
font-size: 32px;
line-height: 44px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
grid-area: item1;
}

.clients-line {
    width: 60px;
    height: 3px;
    grid-area: item2;
    border: none;
    background-color: #4BCAFF;
}

.clients-names-img1 {
    grid-area: item3;
    justify-self: end;
}
.clients-names-img2 {
    grid-area: item4;
    justify-self: end;
}
.clients-names-img3 {
    grid-area: item5;
    justify-self: end;
}
.clients-names-img4 {
    grid-area: item6;
    justify-self: end;
}

.top-rated-title {
    font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
}

.top-rated {
    display: grid;
    grid-template-rows: (1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "top-rated-title-wrapper top-rated-title-wrapper top-rated-title-wrapper top-rated-title-wrapper top-rated-title-wrapper top-rated-title-wrapper top-rated-title-wrapper"
    "img-1 img-2 img-3 img-4 img-5 img-6 img-7"
}

#top-rated-title-wrapper {
    grid-area: top-rated-title-box;
    align-items: center;
    display: flex;
}

#img-1 {
    grid-area: img-1;
}

#img-2 {
    grid-area: img-2;
}

#img-3 {
    grid-area: img-3;
}

#img-4 {
    grid-area: img-4;
}

#img-5 {
    grid-area: img-5;
}

#img-6 {
    grid-area: img-6;
}

#img-7 {
    grid-area: img-7;
}

.top-rated-img {
    width: 100%;
}
