body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin:  auto;
    width: 1170px;
}

.posts__section {
    background: #F2F2F2;
}



.posts__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 870px;
    align-items: flex-start;
}

.post {
    width: calc((100% / 3) - 30px);
    background: white;
    margin-bottom: 30px;
}

.post__link {
    text-decoration: none;
}

.post__img {
    width: 100%;
}

.post__title {
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 21px;
    margin: 0;
}